html, body {
    height: 100%;
}

/*Parallax*/
.parallax {
    /* The image used */
    background-image: url("images/background.jpg");
  
    /* Set a specific height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-text{
    font-size: 50px;
    position: absolute;
    top: 120%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.parallax-text2{
    font-size: 50px;
    position: absolute;
    top: 295%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*Navbar*/
.navbar{
    padding-right: 5%;
    padding-left: 3%;
}

/*Logos*/
.programming_logos p{
    padding-top: 5%;
    color: white;
    font-weight: bold;

}
.programming_logos img{
    width: 200px;
    height: 200px;
}
.programming_logos:hover img{
    opacity: 1;
}

/*Container*/
.container-fluid{
    background-color: #353a40;
    height: 490px;
}
.card-tittle{
    font-size: 50px;
    font-weight: bold;
}
.card-text{
    font-size: 30px;
    font-weight: lighter;
}

#my_avatar{
    width: 400px;
    height: 400px;
}

/*Carousel*/
#carouselExampleIndicators{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
#carouselExampleIndicators1{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
#carouselExampleIndicators2{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}


/*Hover Effect*/
.hovereffect {
    padding-left: 5%;
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
    }
    
    .hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
    }
    
    .hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    }
    
    .hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-300px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
    }
    
    .hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
    }
    
    .hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
    }

    .hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    }
    
    .hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
    }
    
    .hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
    }
    
    .hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
    }


/*Footer*/
.card-footer{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 4%;
    padding-left: 4%;
    background-color: #353a40;
    color: white;
}
.card-footer p{
    font-weight: bold;
}
.card-footer li a{
    color:white;
    font-weight: bold;
}
.card-footer img{
    width: 100px;
    padding-bottom: 20px;
    -webkit-filter: invert(1);
    filter: invert(1);
}
.smallIcon img{
    width: 20px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
#fb_icon{
    width: 45px;
    height: 50px;
}
#tt_icon{
    width: 45px;
    height: 50px;
}
#ig_icon{
    width: 40px;
    height: 45px;
}